# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
    1. Python
    2. R
    3. SQL
    4. Julia

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
    1. Pandas
    2. Numpy
    3. Matltlib

Data Science Tools


| Tool |Type |
| -------------| ------ |
| Jupyter Notebook | Open Source |
| RStudio | Free Software |
| Spyder | Open Source |

### Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition**: `2 + 3` results in `5`.
2. **Subtraction**: `7 - 2` results in `5`.
3. **Multiplication**: `4 * 3` results in `12`.
4. **Division**: `10 / 2` results in `5.0`.
5. **Exponentiation**: `2 ** 3` results in `8`.

In [9]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [10]:
#9 Create a code cell to convert minutes to hours

#This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Understand how to convert time measurements in Python
- Explore basic arithmetic operations in Python
- Learn how to add comments in Jupyter Notebook
- Get familiar with using markdown cells in Jupyter Notebook

# Author

[Vinutha Lakshmi]